 body{
        background-color:blue;
     text-align: center;
     color:white;
    }
.image-section{
   display: flex;
    justify-content: center;
}
.section-style{
    margin-right: 25px;
    margin-left: 25px;
    
}
#chicken1{
    height:500px;
    width:500px;
}
#chicken2{
    height:500px;
    width:500px;
    
}
p{
    font-size:15px;
}
